/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.wepliTitle {
  color: white;
}

.wepliSubscription {
  font-size: .9rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 1rem;

  background: linear-gradient(
      0deg,
      #9DABFF 0%,
      #C8CFFF 39%,
      #A4FFFF 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* 모든 브라우저 */
  -webkit-text-fill-color: transparent; /* 웹킷 브라우저만 */
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  color: #fff;
  font-size: 2rem
}

.bannerContainer {
  background: linear-gradient(180deg,#09151600,#091516 63.02%,#072027),#08090b;
  overflow: hidden;
  padding: 3rem 0;
  position: relative;
  width: 100%
}

.bannerContainer,.titleContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center
}