/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.wepliTitle {
  color: white;
}

.wepliSubscription {
  font-size: 1rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 1rem;

  background: linear-gradient(
    0deg, 
    #9DABFF 0%, 
    #C8CFFF 30%, 
    #A4FFFF 70%
  );
  /* background: linear-gradient(0deg, #9DABFF 0%, #C8CFFF 39%,#A4FFFF 100%); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* 모든 브라우저 */
  -webkit-text-fill-color: transparent; /* 웹킷 브라우저만 */
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  color: #fff;
  font-size: 2rem
}

.bannerContainer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #000000, #91f8ff68 63%, #000000b5), #6f9dff;
  /* background: url(/img/bg_main_banner_linear.png) no-repeat center center; */
  background-size: 100% 100%;
  padding: 3rem 0;
  width: 100%;
}

.bannerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.81);
  /* 검은색 반투명 마스크 */
  pointer-events: none;
}

.bannerContainer,
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.bannerContainer,.titleContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center
}

.heroSection {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/path/to/your/background.jpg') center center no-repeat;
  background-size: cover;
  z-index: -1;
}

.heroContent {
  z-index: 10;
}

.logo {
  width: 64px;
  margin-bottom: 20px;
}

.tagline {
  font-size: 24px;
  margin-bottom: 10px;
}

.heroTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.heroButtons .primaryButton {
  background-color: #0056b3; /* Customize your button color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
